# Configuration for diffusion models
model:
  arch_name: segdiff
  image_size: 224
  dim: 32
  timesteps: 50
  learning_rate: 0.0002
  num_classes: 2
  use_ema: true
  ema_decay: 0.9999
  num_ensemble: 1

data:
  name: octa500_6m
  train_dir: data/OCTA500_6M/train
  val_dir: data/OCTA500_6M/val
  test_dir: data/OCTA500_6M/test
  crop_size: 224
  train_bs: 4
  num_samples_per_image: 8


trainer:
  max_epochs: 400
  accelerator: gpu
  devices: [1]
  precision: 32
  log_every_n_steps: 50
  check_val_every_n_epoch: 10
  accumulate_grad_batches: 2
  gradient_clip_val: 1.0
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: val/dice
        mode: max
        save_last: true
        verbose: true

  logger:
    class_path: lightning.pytorch.loggers.TensorBoardLogger
    init_args:
      save_dir: lightning_logs
      name: octa500_6m
      version: null

